.header{
    display: flex;
    padding: 0px;
    justify-content: space-around;
    background-color: #1f2937;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.logo{
    display: flex;
    flex-basis: 500px;
    
}

.top-links{
    display: flex;
    flex-basis: 400px;
    flex-direction: row;
    padding-right: 10px;
    justify-content: space-evenly;
}


.top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1f2937;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.titles{
    display: flex;
    flex-direction: column;
    flex-basis: 500px;

}

.button1{
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;  
    width: 100px;
    height: 30px;
    background-color:#1f2937;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    margin-top: 20px;
    border-radius: 8px;
}

.button1:hover{
    background-color: aliceblue;
    border: 2px solid black;
    color: black;
    transition: 0.1s;
}

.button1:active{
    background-color: lightgreen;
    transition: 0.1s;
    box-shadow: 0 0 0 4px white;
}

.picture{
    display: flex;
    
}

.middle{
    display: flex;
    padding-top: 50px;
    flex-direction: column;
}

.SRI{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-weight: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.islands{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.island{
    display: flex;
    border: 2px solid lightskyblue;
    width: 200px;
    height: 200px;
    border-radius: 15px;
   
 
}
 .texts {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;

}

.text{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 200px;
}

.quote{
    display:flex;
    background-color: lightgray;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;



}

.smallerquote{
    display: flex;
    background-color: lightgrey;
    justify-content: right;
    padding-right: 400px;
    font-size: 25px;
    font-family: Courier;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
   

}

.bluecontainer{
    display: flex;
    height: 150px;
    width: 800px; 
    border-radius: 15px;
    flex-direction: row;
   
    background-color: #3882f6;
}

.blue-text{
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: flex-start;
    flex-direction: column;
    flex-basis: 50%;
    width: 350px;
    padding-left: 50px;
}

.button2{
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;  
    width: 100px;
    height: 30px;
    background-color: #3882f6;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    margin-top: 55px;
    border-radius: 8px;
}

.button2:hover{
    background-color: lightskyblue;
    border: 2px solid black;
    color: black;
    transition: 0.1s;
}

.button2:active{
    background-color: lightblue;
    transition: 0.1s;
    box-shadow: 0 0 0 4px lightgreen;
}

.footer{
    display: flex;
    border: 2px solid black;
    justify-content: center;
    margin-top: 10px;
    background-color: #1f2937;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}